[submodule "px4-autopilot"]
	path = px4-autopilot
	url = https://jeppsoptim@bitbucket.org/shaviland/px4-autopilot.git
[submodule "optimAero_PX4-Autopilot"]
	path = optimAero_PX4-Autopilot
	url = https://github.com/eraltam/PX4-Autopilot-optimAero.git
